body{
  background: #1b1b1b;
  margin: 0;
  padding: 0;
  color: #f1f1f1;
}

::selection{
  background-color: #000;
  color: #fff;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  font-family: sans-serif;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  display: inline-block;
  margin: 16px;
  position: relative;
}

.card__body {
  padding: 64px 18px 16px;
  min-height: 160px;
  text-align: left;
  background: #222222;
}

.card__body .fTitle{
  font-weight: bold;
  text-decoration: underline  rgb(231, 176, 43) 2px;
}
.card__image {
  padding-bottom: 50%;
  position: relative;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(-131deg, rgb(231, 176, 43) 0%, rgb(193, 62, 81));
  border-image-slice: 1;
}

.card__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.card__profile {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 90px;
  left: 15px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20%;
  border: 3px solid transparent;
  overflow: hidden;

}

.card__profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
